
@model TeamTeaRexCovid19.Web.Models.DailyQuestions

@{
    ViewData["Title"] = "Daily Questions";
}

<h4>Daily Questions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SubmitDailyQuestions">
            <div asp-validation-summary="ModelOnly"></div>

            <div>
                <label asp-for="PeopleInteractedWith">
                    How many people outside of your immediate family have you interacted with today?
                </label>

                @Html.DropDownListFor(x => x.PeopleInteractedWith, new List<SelectListItem>
                   {
                        new SelectListItem() {Text = "1", Value="1"},
                        new SelectListItem() {Text = "2", Value="2"},
                        new SelectListItem() {Text = "3", Value="3"},
                        new SelectListItem() {Text = "4", Value="4"}

                   })
            </div>
            <br />
            <div>
                <label asp-for="Fever">
                    Do you have a fever?
                </label>
                Yes
                @Html.RadioButtonFor(m => m.Fever, "Yes")
                No
                @Html.RadioButtonFor(m => m.Fever, "No")
            </div>
            <br />
            <div>
                <label asp-for="PersistentCough">
                    Do you have a persistent cough?
                </label>
                Yes
                @Html.RadioButtonFor(m => m.PersistentCough, "Yes")
                No
                @Html.RadioButtonFor(m => m.PersistentCough, "No")
            </div>
            <br />
            <div>
                <label asp-for="UnusualFatigue">
                    Are you experiencing unusual fatigue?
                </label>
                Yes
                @Html.RadioButtonFor(m => m.UnusualFatigue, "Yes")
                No
                @Html.RadioButtonFor(m => m.UnusualFatigue, "No")
            </div>
            <br />
            <div>
                <label asp-for="EatAnything">
                    Have you been able to eat anything?
                </label>
                Yes
                @Html.RadioButtonFor(m => m.EatAnything, "Yes")
                No
                @Html.RadioButtonFor(m => m.EatAnything, "No")
            </div>
            <br />
            <div>
                <label asp-for="FeelRightNow">
                    How do you feel right now?
                </label>
                Yes
                @Html.RadioButtonFor(m => m.FeelRightNow, "I feel healthy as normal")
                No
                @Html.RadioButtonFor(m => m.FeelRightNow, "I'm not feeling quite right")
            </div>
            <br />
            <div>
                <label asp-for="LeaveHomeToday">
                    Did you leave home today?
                </label>
                Yes
                @Html.RadioButtonFor(m => m.LeaveHomeToday, "Yes")
                No
                @Html.RadioButtonFor(m => m.LeaveHomeToday, "No")
            </div>
            <br />
            <div>
                <label asp-for="Treatment">
                    What treatment are you receiving?
                </label>

                @Html.DropDownListFor(x => x.Treatment, new List<SelectListItem>
                   {
                        new SelectListItem() {Text = "TB", Value="TB"},
                        new SelectListItem() {Text = "Asthma", Value="Asthma"},
                        new SelectListItem() {Text = "Diabetes", Value="Diabetes"},
                        new SelectListItem() {Text = "Pneumonia", Value="Pneumonia"},
                        new SelectListItem() {Text = "Other", Value="Other"}
                   })
            </div>
            <br />
            <div>
                <input type="submit" value="Submit" class="btn-primary" />
            </div>
        </form>
    </div>
</div>



